html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow-x: auto;
}

body{
    background-color: #1B1B1B;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.allContainer {
    display: flex;
    width: 100%;
    margin: 0%;
    
}

.topContainer {
   border: 5px solid black;
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 300px;
   box-shadow: 1px 1px 20px black;
   background-color: #2a3439;

}
.introContainer {
    width: 200px;
    height: 150px;
    background-color: #2a3439;
    border-radius: 1.3rem;
    margin: 30px;
   
  
    
}
.toggle{
    position: relative;
}

.toggle input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    
}

.toggle .onoff {
    display: block;
    text-align: center;
    margin-right: 10px;
}

.slider {
    position: relative;
    display: block;
    background-color: #E6E6FA;
    transition: 0.4s;
    width:  68px;
    height: 25px;
}

.slider:before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: #2a3439;
    transition: 0.4s;
    top: 3px;
    left: 3px;
}

.slider.round {
    border-radius: 18px;
}

.slider.round:before {
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #E6E6FA;
    box-shadow: 0px 0px 2px;
}

input:checked + .slider:before {
    background-color: #2a3439;
    box-shadow: 0px 0px 2px;
}

input:checked + .slider:before{
transform: translateX(42px);
}
.profContainer{
    margin-top: 20px;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 0%;
    background-color: #2a3439;
    border: 1px black;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    justify-content: space-between;
    color: #E6E6FA;

    box-shadow: 0px 0px 2px;
    width: 100%;
    
}

.onetomanyboxe {
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex: 1;
    margin-top: -10px;
    margin-bottom: 10px;
}

.link1 {
    border-radius: 20px;
    margin-bottom: 3px;
    border: none;
    padding: 10px 20px;
    background-color: whitesmoke;
    text-align: center;
    text-decoration: none;
    transition: ease-out 0.3s;
    box-shadow: 0px 0px 3px whitesmoke;
}
.link1:hover {
    box-shadow: inset 200px 0 0 0 rgba(12, 182, 12, 0.884);
    cursor: pointer;
    color: #2a3439;
}

.link2 {
    border-radius: 20px;
    margin-bottom: 3px;
    margin-left: 10px;
    border: none;
    padding: 10px 20px;
    background-color: whitesmoke;
    text-align: center;
    text-decoration: none;
    transition: ease-out 0.3s;
    box-shadow: 0px 0px 3px whitesmoke;
}
.link2:hover {
    box-shadow: inset 200px 0 0 0 #0a66c2;
    cursor: pointer;
    color: #2a3439;
}

h1 {
    height: auto;
   
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 1px;
    
}
h6 {
    height: 20px;
    width: auto;
    margin-top: 0;
    margin-top: 5px;
    margin-left: 5px;
}

.meContainer {
   
    display: flex;
   flex-direction: column;
   justify-content: space-between;
  
}



.boutContainer{
    position: relative;
    margin: 30px;
    height: 500px;
    flex: 1 0 50px;
    padding: 5px;
    background-color: #2a3439;
    border-radius: 12px;
    color: #E6E6FA;

}

.skilsContainer {
    position: relative;
    margin: 30px;
    flex: 1 0 50px;
    padding: 5px;
    background-color: #2a3439;
    border-radius: 12px;
    color: #E6E6FA;
}

.profPic {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    align-self: center;
    height: auto;
    width: 220px;
    border-radius: 75%;
    border: 3px solid black;
    overflow: hidden;
    margin-top: 5px;

}
 
img {
    width: 100%;
    height: auto;
}


:root {
    --clr-1: #DBD65C;
    --clr-2: #4DA0B0;
    --clr-3: #5614B0;
    --clr-4: #1fddff;
    --clr-5: #FFA500;
}



.boutContainer::before,
.boutContainer::after {
    content: "";
    position: absolute;
    inset: -.3rem;
    z-index: -1;
    background: conic-gradient(from var(--gradient-angle), var(--clr-3),var(--clr-4), var(--clr-5), var(--clr-4), var(--clr-3));
    border-radius: inherit;
    animation: rotation 20s linear infinite;

}
.boutContainer::after {
    filter: blur(3.5rem);
}

.skilsContainer::before,
.skilsContainer::after {
    content: "";
    position: absolute;
    inset: -.3rem;
    z-index: -1;
    background: conic-gradient(from var(--gradient-angle), var(--clr-1),var(--clr-4), var(--clr-3), var(--clr-4), var(--clr-1));
    border-radius: inherit;
    animation: rotation 20s linear infinite;
}
.skilsContainer::after {
    filter: blur(3.5rem);
}

.everyContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
}

@property --gradient-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
@keyframes rotation {
    0% { --gradient-angle: 0deg; }
    100% { --gradient-angle: 360deg; }
    
}

